
/* Section btn visible seul sur la page d'acceuil */

.btn {
  width: 98%;
  height: auto;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 120px;
}

.button {
  width: 300px;
  height: 60px;
  position: relative;
  outline: none !important;
  border: 0;
  margin-top: 55px;
  left: 50%;
  margin-left: -150px;
  border-radius: 0.7rem;
  font-size: 1.7rem;
  font-family: $primary-font-family;
  color: $secondary-color;
  background: $primary-color;
}

/* threedots, animation avec les 3 points. Ne pas changer le margin-left 13px sinon le texte bouge lorsque l'on surpasse avec la souris */

.threedots {
  color: $secondary-color;
  font-size: 1.7rem;
  font-family: $primary-font-family;
  text-align: center;
  line-height: 3.5rem;
  cursor: pointer;

  &:hover {
    margin-left: 13px;

    &:after {
      content: ' .';
      animation: dots 1s steps(5, end) infinite alternate;
    }
  }
}
@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: $secondary-color;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 $secondary-color, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  100%,
  80% {
    text-shadow: 0.25em 0 0 $secondary-color, 0.5em 0 0 $secondary-color;
  }
}

/*------------------------ Btn / Media Queries max 400px ------------------------------*/

@media all and (max-width: 400px) {
  .button {
    margin-bottom: 120px;
  }
}
