
/* Section interne du menu 'la note enchantée', page d'acceuil  */

.main__section--lanote {
  background: $home-lanote-background;

  .title-one {
    font-family: 'Devonshire', cursive;
    color: $lanote-maincolor;
  }

  .title-two {
    font-family: $secondary-font-family;
    font-weight: 600;
    color: $lanote-maincolor;
  }
}

/* Section interne du menu 'le chic à la française', page d'acceuil  */

.main__section--lafrancaise {
  background: $home-lafrancaise-background;

  .title-one {
    font-family: 'Croissant One', cursive;
    font-size: 1.1rem;
    background: -webkit-linear-gradient(-60deg, #d8852e 10%, #b67094 55%, #905bfd 85%);
    background: -moz-linear-gradient(-60deg, #d8852e 10%, #b67094 55%, #905bfd 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: $lafrancaise-maincolor;
  }

  .title-two {
    font-family: 'Rozha One', serif;
    color: $lafrancaise-maincolor;
  }
}

/* Section interne du menu 'le délice des papilles', page d'acceuil  */

.main__section--ledelice {
  background: $home-ledelice-background;

  .title-one {
    font-family: 'Dancing Script', cursive;
    color: $ledelice-maincolor;
    font-size: 1.6rem;
    background: -webkit-linear-gradient(-60deg, #0431df 10%, #076bf2 55%, #1789f9 85%);
    background: -moz-linear-gradient(-60deg, #0431df 10%, #076bf2 55%, #1789f9 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding-left: 5px;
  }

  .title-two {
    font-family: $secondary-font-family;
    color: $ledelice-maincolor;
  }
}

/* Section interne du menu 'la palette du gout', page d'acceuil  */

.main__section--lapalette {
  background: $home-lapalette-background;

  .title-one {
    font-family: 'Kaushan Script', cursive;
    color: $lapalette-maincolor;
    font-size: 1.6rem;
    background: -webkit-linear-gradient(-60deg, #3d9339 10%, #69b852 55%, #9be16c 85%);
    background: -moz-linear-gradient(-60deg, #3d9339 10%, #69b852 55%, #9be16c 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .title-two {
    font-family: $secondary-font-family;
    color: $lapalette-maincolor;
  }
}

/* div interne des menu contenant le box qui s'agrandit au surpassage de la souris */

.menu__box {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 400ms;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  img {
    width: 45px;
  }
}
