@mixin block {
  display: block;
}
.footer__left,
.footer__right,
.list__title .title-four:after,
.logo,
.top-header a {
  @include block;
}

@mixin main-background {
  background: $primary-color;
}
.top-header,
button,
footer {
  @include main-background;
}

@mixin lanote-color {
  color: $lanote-maincolor;
}
.main__section--lanote .title-two,
.main__section--lanote .title-one,
.main__section--lanote.main__section--nothome .item,
.main__section--lanote.main__section--nothome .price,
.page .main__section--lanote,
.page .main__section--lanote .list__title .title-four,
.page .main__section--lanote .list__title .title-four:after {
  @include lanote-color;
}

@mixin lafrancaise-color {
  color: $lafrancaise-maincolor;
}
.main__section--lafrancaise .title-two,
.main__section--lafrancaise .title-one,
.page .main__section--lafrancaise article:nth-child(2) .item,
.page .main__section--lafrancaise article:nth-child(2) .list__title .title-four,
.page .main__section--lafrancaise article:nth-child(2) .list__title .title-four:after,
.page .main__section--lafrancaise article:nth-child(2) .price {
  @include lafrancaise-color;
}

@mixin secondary-fontcolor {
  color: $secondary-color;
}
.footertext a,
.threedots,
button,
footer {
  @include secondary-fontcolor;
}

@mixin main-text {
  color: $main-text-color;
}
.page .main__section,
.page .main__section--lapalette .item,
.page .main__section--lapalette .list__title .title-four,
.page .main__section--lapalette .price,
.page .main__section--ledelice .item,
.page .main__section--ledelice .list__title .title-four,
.page .main__section--ledelice .price {
  @include main-text;
}
