$primary-color: #579c87;
$secondary-color: #fcca46;
$main-text-color: #000000;

$lanote-maincolor: #3c1218;
$lafrancaise-maincolor: #c77412;
$ledelice-maincolor: #0887fb;
$lapalette-maincolor: #72bf56;

$home-lanote-background: #fcdfdb;
$home-lafrancaise-background: #fff5fe;
$home-ledelice-background: #f9f9f9;
$home-lapalette-background: #fdfffd;

$lafrancaise-list-secondcolor: #a56799;
$lafrancaise-list-tirthcolor: #6e4ccc;

$primary-font-family: 'Raleway', sans-serif, Arial, Helvetica;
$secondary-font-family: 'Segoe Print';
