
/* Footer visible sur toutes les pages */

footer {
  background: $primary-color;
  color: $secondary-color;
  position: fixed;
  height: 55px;
  width: 100%;
  bottom: 0;
  font-size: 1.2rem;
  line-height: 3.3rem;

  .footer__left {
    display: block;
    float: left;
    height: 100%;
    padding-left: 20px;
  }

  .footer__right {
    display: block;
    float: right;
    height: 100%;
    padding-right: 20px;
  }
}

/* Animation texte footer */

.footertext:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

/*------------------------ Footer / Media Queries max 400px ------------------------------*/

@media all and (max-width: 400px) {
  footer {
    height: 160px;
    padding: 25px 0;

    .footer__left {
      width: 100%;
      height: 55px;
      text-align: center;
      padding: 0;
    }

    .footer__right {
      width: 100%;
      height: 55px;
      text-align: center;
      padding: 0;
    }
  }
}
